.history-bar {
    display: flex;
    gap: 8px;
    overflow-x: auto;
    flex-direction: row-reverse;
    padding: 10px;
}


.history-chip {
    min-width: 55px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-weight: bold;
    font-size: 14px;
    flex-shrink: 0;
}


.history-chip.red {
    background: #e53935;
    color: white;
}


.history-chip.blue {
    background: #1976d2;
    color: white;
}


.history-chip.purple {
    background: #8e24aa;
    color: white;
}
