.leaderboard{
    position:relative;
    overflow:hidden;

    width:100%;
    height:100%;

    padding:22px;

    border-radius:18px;

    background:
    linear-gradient(180deg,#2b0b43 0%,#111827 55%,#090909 100%);

    border:1px solid rgba(255,255,255,.08);

    box-shadow:
    0 0 30px rgba(168,85,247,.25),
    inset 0 0 30px rgba(255,255,255,.03);

    color:white;
}

.leader-glow{
    position:absolute;
    width:220px;
    height:220px;
    top:-80px;
    right:-60px;

    background:#ffcc00;

    filter:blur(110px);

    opacity:.25;
}

.leader-title{
    position:relative;

    margin-bottom:22px;

    font-size:28px;
    font-weight:800;
    letter-spacing:1px;

    color:#ffd54a;

    text-shadow:
    0 0 12px #ffcc00,
    0 0 25px #ff9900;
}

.leader-card{
    position:relative;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:16px 18px;
    margin-bottom:14px;

    border-radius:16px;

    background:linear-gradient(90deg,#1d2435,#2a2d4a);

    border:1px solid rgba(255,255,255,.08);

    transition:.25s;
}

.leader-card:hover{
    transform:translateX(8px) scale(1.02);

    background:linear-gradient(90deg,#2b3252,#373c63);

    box-shadow:
    0 0 18px rgba(255,215,0,.4);
}

.rank{
    width:52px;
    height:52px;

    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;

    background:linear-gradient(#ffd54a,#ff9800);

    color:#111;

    font-size:20px;
    font-weight:800;
}

.player-info{
    flex:1;
    margin-left:15px;
}

.player-name{
    font-size:18px;
    font-weight:700;
}

.player-win{
    margin-top:4px;

    color:#8df3b0;

    font-size:22px;
    font-weight:800;

    text-shadow:0 0 12px #00ff88;
}

